@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* General */

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif!important;
}

#main {
  margin: 0 50px 50px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-weight: 700;
  font-size: larger;
}
h3 {
  font-weight: 600;
}
.flex {
  display: flex;
}
.euros {
  font-weight: 600;
}

/* Header */

header {
  justify-content: space-between;
  margin-bottom: 2px;
}

#main {
  margin-bottom: 0;
}

.logoBooki {
  width: 8%;
  height: 8%;
  margin-top: 20px;
  margin-left: 40px;
  margin-bottom: 15px;
}

nav a {
  padding: 40px 30px 0;
  padding: 2rem;
}

nav li {
  margin-top: 15px;
  width: 50%;
  text-align: center;
  padding: 20px 0;
}
.link {
  color: #808080;
  font-weight: 700;
  border-top: 3px solid transparent;
  padding: 30px;
}

nav li a:hover {
  color: #0065fc;
  border-top: 3px solid #0065fc;
}

/* SEARCHBAR */

.search h2 {
  margin-bottom: 0.5%;
  font-weight: bold;
}
.search p {
  margin-top: 10px;
  margin-bottom: 20px;
}
.searchbar {
  margin-bottom: 30px;
  height: 50px;
}
.containerLocation {
  display: flex;
  background-color: #f2f2f2;
  justify-content: center;
  border-radius: 30% 0 0 30%;
}
.containerLocation i {
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchInput {
  border: 1px solid #f2f2f2;
  padding: 0 0 0 15px;
  font-size: 1.1rem;
  font-weight: bold;
  width: 210px;
}
.searchButton {
  width: 200px;
  background-color: #0065fc;
  border: none;
  padding: 0;
  border-radius: 0 15px 15px 0;
  color: #ffff;
  font-weight: 800;
  font-size: 1rem;
  cursor: pointer;
}
.searchButton i {
  display: none;
}

/* Filters */
.textFilter {
  align-self: center;
  margin-right: 30px;
  padding-bottom: 20px;
}

.filters {
  flex-wrap: wrap;
  font-weight: 700;
  font-size: 1.1rem;
  margin-top: 30px;
  margin-bottom: 40px;
}
.filter {
  flex-shrink: 1;
  align-items: center;
  height: 48px;
  border: 2px solid #f2f2f2;
  border-left: none;
  margin-bottom: 20px;
  padding-right: 20px;
  border-radius: 35px;
  margin-right: 25px;
}
.filter span {
  padding-left: 15px;
}
.filter:hover {
  cursor: pointer;
  border-color: #0065fc;
  background-color: #deebff;
  color: #0065fc;
  transform: scale(1.02);
}

.filterList {
  flex-wrap: wrap;
}

.iconFilter {
  position: relative;
  right: 1px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #deebff;
}

.iconFilter i {
  margin: auto;
  color: #0065fc;
}

.iconInfo {
  height: 25px;
  width: 30px;
  border-radius: 1rem;
  margin-right: 20px;
  padding-top: 5px;
}

.iconInfo i {
  margin: auto;
  font-size: 1rem;
  color: #0065fc;
}

/* Acommodations */

.containerAcommodations {
  padding-left: 4%;
  padding-right: 3%;
}
.containerAcommodations h2 {
  margin-top: 5%;
  padding-left: 5%;
  margin-bottom: 3%;
}

.acommodations {
  background-color: #f2f2f2;
  flex: 2;
  height: auto;
  margin: 3% 1% 0 0;
  border-radius: 2%;
  padding: 1% 0 1% 1%;
}

.acommodationsTab {
  display: flex;
  flex-direction: row;
  padding: 2%;
  padding-bottom: 5%;
  gap: 3%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  /* To see the cards on Mobile version */
  box-shadow: 2px 2px 1px #f2f2f2;
}
.acommodationsTab > * {
  flex: 1 1 25%;
}

.hotelFrame {
  background-color: white;
  box-shadow: 0 0 9px #c1c1c1;
  border-radius: 20px;
  margin-bottom: 15%;
}

.picturesDiv {
  width: 100%;
}
.picturesDiv img {
  width: 95%;
  margin: 5px;
  max-height: 130px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.hotelDescription {
  display: flex;
  padding-left: 2%;
  flex-direction: column;
  width: 94%;
  height: 35%;
  background-color: white;
  border-radius: 20px;
}

.hotelName,
.hotelRate {
  padding-bottom: 3%;
}

.fa-star {
  padding-top: 2%;
  font-size: 70%;
  letter-spacing: 2px;
}
.blueStar {
  color: #0065fc;
}
.greyStar {
  color: #dcdcdc;
}
.showMore {
  margin-left: 5%;
  font-weight: 700;
  font-size: 100%;
}

/* Section the Most Popular */

.popular {
  border-radius: 20px;
  flex: 1;
  background-color: #f2f2f2;
  height: auto;
  margin: 3% 1% 0 1%;
  padding-right: 3%;
}

.popularTab {
  display: flex;
  flex-direction: column;
  margin: 5%;
  padding: 2%;
}
.popularTab > * {
  flex: 1 1 25%;
}

.popularFrame {
  background-color: white;
  margin-left: 3%;
  margin-bottom: 15%;
  width: 100%;
  height: 145px;
  min-width: 260px;
  padding: 1% 0 1% 1%;
  border-radius: 20px;
  box-shadow: 0 0 7px #c1c1c1;
  overflow: hidden;
}

.popularFrame img {
  border-radius: 20px 0 0 20px;
  width: 95%;
  height: 140px;
}

.popularDescription {
  padding-top: 5%;
  padding-left: 3%;
  padding-right: 5%;
  display: flex;
  flex-direction: column;
  background-color: #ffff;
  width: 100%;
  max-height: 140px;
}

.popularIcon {
  justify-content: space-between;
  align-self: baseline;
}

.popular h2 {
  padding-left: 10%;
  padding-top: 7%;
  margin-bottom: 20px;
  font-size: larger;
}
.popularIcon i {
  margin-top: 10%;
  margin-right: 10%;
  font-size: 100%;
  color: black;
}
.popular p {
  padding-top: 3%;
  margin-bottom: auto;
}
.hotelRate {
  margin-top: auto;
}

/* SECTION Activities */

.activities {
  margin: 3% 2% 0 2%;
  padding-top: 2%;
  padding-right: 7%;
}

.activities h2 {
  margin-left: 4%;
}

.activitiesTab {
  margin: 3% 0 0 3%;
  width: 100%;
  height: 560px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3%;
}

.activitiesTab > * {
  flex: 1 0 21%;
}

.activityFrame1 {
  width: 100%;
  height: 80%;
  border-radius: 15px;
}

.fortAndIsland {
  display: flex;
  flex-direction: column;
  gap: 10%;
  width: 100%;
  height: 80%;
  border-radius: 15px;
}

.activityFrame4 {
  width: 100%;
  height: 80%;
  border-radius: 15px;
}

.dameLongchamp {
  display: flex;
  flex-direction: column;
  gap: 10%;
  width: 100%;
  height: 80%;
  border-radius: 15px 15px 0 0;
}
.bigPictures {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  box-shadow: 5px 5px 5px 1px #f2f2f2;
}

.mediumPicture {
  width: 100%;
  object-fit: cover;
  height: 220px;
  border-radius: 15px 15px 0 0;
  box-shadow: 5px 5px 5px 1px #f2f2f2;
}

.smallestPicture {
  object-fit: cover;
  width: 100%;
  height: 125px;
  border-radius: 15px 15px 0 0;
  box-shadow: 5px 5px 5px 1px #f2f2f2;
}

.smallPictures {
  object-fit: cover;
  width: 100%;
  height: 173px;
  border-radius: 15px 15px 0 0;
  box-shadow: 5px 5px 5px 1px #f2f2f2;
}

.activityDescription {
  height: 50px;
  border-radius: 0 0 15px 15px;
  display: flex;
  justify-content: flex-start;
  background-color: #ffff;
  align-items: center;
  padding-left: 5%;
  width: 95%;
  box-shadow: 0 0 7px #c1c1c1;
}

/* SECTION FOOTER */

footer {
  display: flex;
  background-color: #f2f2f2;
  box-shadow: 1px 1px 1px 1px #f2f2f2;
}

footer div {
  flex: 1;
  align-items: flex-start;
  margin-left: 5%;
  margin-bottom: 5%;
  margin-top: 3%;
}

footer h3 {
  margin-bottom: 5%;
  font-weight: 700;
}

footer li {
  align-items: flex-start;
  margin-bottom: 3%;
}
footer a:hover {
  font-weight: 600;
  color: #0065fc;
}

/* desktop big screen size */
@media only screen and (max-width: 2560px) and (min-width: 1450px) {
  .acommodationsTab {
    margin-bottom: 10%;
  }
}

/* desktop and big screen tablets specificities manage pictures deformation  */
@media only screen and (max-width: 1450px) and (min-width: 978px) {
  .acommodationsTab > * {
    flex: 1 0 33%;
  }
}

/* Tablet version  */

@media screen and (max-width: 978px) and (min-width: 600px) {
  /* General Tablet */
  h2 {
    font-size: larger;
    font-weight: bold;
  }

  h3 {
    font-size: large;
    font-weight: bold;
  }
  /* header section Tablet */
  .logoBooki {
    width: 15%;
    height: 15%;
  }

  /* search  Tablet */
  .filters {
    flex-direction: column;
  }
  .textFilter {
    align-self: auto;
    margin-bottom: 15px;
  }
  .filter {
    margin: 0 1rem 1rem 0;
    margin-bottom: 5%;
  }

  /* .acommodations section Tablet */
  .containerAcommodations {
    flex-direction: column-reverse;
    flex-basis: 100%;
    width: 100%;
  }
  .acommodationsTab > * {
    flex: 1 0 33%;
  }

  .hotelFrame {
    margin-bottom: 30px;
  }
  .picturesDiv img {
    width: 97%;
  }
  /* most Popular section Tablet */
  .popular {
    flex: none;
    width: 90%;
    padding: 0 4%;
  }
  .popular h2 {
    margin-top: 0;
  }
  .popularTab {
    flex: none;
    width: 90%;
    margin-left: 0;
  }

  .popularFrame {
    margin-bottom: 20px;
  }
  .popular img {
    width: 100%;
  }

  .popularDescription {
    width: 95%;
  }

  .popularDescription p {
    margin-bottom: -7%;
  }

  .popularIcon i {
    margin-top: 5%;
  }

  /* activities section Tablet */
  .activities {
    padding-right: 0;
  }
  .activitiesTab {
    flex-direction: column;
    height: auto;
    margin-bottom: 30px;
  }

  .activityFrame1,
  .fortAndIsland,
  .activityFrame4,
  .dameLongchamp {
    height: auto;
  }
  .bigPictures,
  .mediumPicture,
  .smallestPicture,
  .smallPictures {
    height: 250px;
  }
  .activityDescription {
    margin-bottom: 30px;
  }
  footer {
    margin-top: 0;
    margin-right: 0;
    padding-top: 20px;
    padding-bottom: 50px;
  }
}

/* mobile version  */

@media screen and (max-width: 600px) {
  /* General  */
  #main {
    margin: 0;
  }
  h2 {
    font-size: 1.3rem;
  }
  h3 {
    font-size: 1rem;
  }
  p {
    font-size: 0.9rem;
  }
  /* Header and nav Section  mobile  */
  header {
    margin: 0;
    margin-right: 0;
    flex-direction: column;
  }

  .logoBooki {
    width: 20%;
    height: 20%;
    margin-left: 40%;
  }

  nav ul {
    width: 100%;
  }

  nav li {
    width: 50%;
    text-align: center;
    padding: 20px 0;
    border-bottom: 3px solid #f2f2f2;
  }

  nav li a {
    padding: inherit;
  }

  nav li a:hover {
    border-top: none;
  }

  nav li:hover {
    border-bottom-color: #0065fc;
  }

  /* Search  Mobile */

  .search {
    margin: 10px 10px 10px 20px;
  }
  .search h2 {
    margin-bottom: 20px;
  }
  .search p {
    margin-bottom: 30px;
  }
  .searchInput {
    flex: 1;
    overflow: auto;
  }

  .searchButton {
    position: relative;
    width: 50px;
    border-radius: 15px;
    left: -20px;

    cursor: pointer;
  }
  .searchButton span {
    display: none;
  }

  .searchButton i {
    display: inline-block;
  }

  /* Filters section Mobile */

  .filters {
    margin-bottom: 10px;
  }
  .filter {
    margin-right: 10px;
    height: 25px;
    margin-bottom: 30px;
  }
  .textFilter {
    font-size: larger;
  }
  .filter span {
    padding-left: 5px;
    border-radius: 25%;
  }

  .iconFilter {
    width: 40px;
    height: 40px;
  }

  /* acommodations section Mobile  */
  .containerAcommodations {
    flex-direction: column-reverse;
    flex: 1;
  }
  .acommodations {
    background-color: white;
    margin-right: 7%;
  }
  .acommodationsTab {
    align-items: center;
    justify-items: center;
    flex-direction: column;
    margin-right: 0;
    margin-bottom: 5px;
    box-shadow: none;
  }
  .hotelFrame {
    width: 100%;
    margin-bottom: 30px;
  }
  .picturesDiv {
    width: 100%;
  }
  .picturesDiv img {
    width: 97%;
  }
  .acommodationsTab a {
    width: 100%;
  }

  /* most Popular section Mobile*/
  .popular {
    margin-bottom: 20px;
    flex: 1;
  }

  .popular > * {
    flex: 1 1 33%;
  }
  .popular h2 {
    margin-top: 0;
  }

  .popularFrame {
    margin-bottom: 5%;
    width: 100%;
  }

  .popularDescrition {
    height: 100%;
  }

  .popularDescription h3 {
    margin-bottom: 5px;
  }

  .popular p {
    margin-bottom: auto;
  }
  .popularIcon i {
    margin-top: 5%;
  }

  /* activities section Mobile*/

  .activities {
    margin-top: 50px;
  }
  .activitiesTab {
    flex-direction: column;
    height: auto;
    margin-bottom: 20px;
  }

  .activityFrame1,
  .fortAndIsland,
  .activityFrame4,
  .dameLongchamp {
    height: auto;
  }
  .bigPictures,
  .mediumPicture,
  .smallestPicture,
  .smallPictures {
    height: 200px;
  }

  .activityDescription {
    margin-bottom: 30px;
  }

  /* Footer Mobile */
  footer {
    flex-direction: column;
    padding: 45px 30px;
  }

  footer div {
    padding: 0;
  }
  /* mobile smaller version  */
  @media screen and (max-width: 400px) {
    /* General */
    h3,
    p {
      font-size: 110%;
    }
  }
}

/* popular */
@media screen and (max-width: 350px) {
  .popularTab {
    padding-left: 5px;
  }
  .popularFrame {
    max-height: 145px;
    max-width: 240px;
    min-width: 230px;
  }

  .popularFrame img {
    max-height: 90%;
    width: 90%;
  }

  .popularDescription {
    max-height: 140px;
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  /* Search  */
  .searchInput {
    padding-left: 5px;
  }
}
